*{
    padding: 0;
    margin: 0;
}

body{
    background: black;
    color: white;
}
nav {
    background-color: blue;
    display:flex;
    padding: 10px;
    width: 100%;
    margin-right: 0%;
}
ul{
    margin-top: 30px;

}
li{
    background-color: blue;
    color: white;
    padding: 10px;
    display:inline;
    cursor: pointer;
    margin-left: 20px;
}
li:hover{
    color: white;
}

li{
    color:rgb(161, 159, 159);
    cursor:pointer;
}
.button-one{
    background-color: blue;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    border-color: white;
   margin-left: 30%;
   margin-top: 20px;
}
.button-one:hover{
    background-color: white;
    color: blue;
} 
.condent img{
    height: 100%;
    width: 100%;
 }

.text{
    padding: 20px;
    text-align: center;
    font-size: 40px;
}
.button-two{
    color: white;
    background-color: blue;
    border: none;
    height: 50px;
    width: 180px;
    cursor: pointer;
    font-size: 20px;
}
.prodect img{
    width: 100%;
}
.text2{
    text-align: center;
    color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer{
    background-color: blue;
    color: white;
    display: flex;  
}
.footer img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.col1{
    margin-top: 30px;
    padding: 10px;
    color: white;
    margin-left: 60px;
    cursor: pointer;
  
}
.col2{
    margin-top: 30px;
    margin-left: 10%;
    padding-top: 10px;
    cursor: pointer;
}
.col3{
    margin-top: 30px;
    margin-left: 10%;
    padding-top: 10px;
    cursor: pointer;
}